@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_18pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

:root {
  --legend-text-color: #000;
  --legend-border-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --legend-text-color: #fff;
    --legend-border-color: #555;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}


.top-left-hud {
  position: absolute;
  z-index: 999999;
  width: 200px;
  height: 100px;
  background-color: #333;
  color: white;
  padding: 16px;
  border-radius: 8px;
  top: 1rem;
  left: 1rem;
}


